.about {
  background: #1e1e1e; /* Dark section background */
  padding: 60px 20px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about h2 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 40px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px; /* Adjust as necessary */
  margin: 0 auto;
  position: relative;
}

.about-image {
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  position: absolute;
  left: -220px; /* Adjust as necessary to position image */
}

.about-text-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.about-text {
  max-width: 850px;
  text-align: justify;
  text-align-last: center;
  text-justify: inter-word;
}

.about-text p {
  line-height: 1.6;
}

@media (max-width: 768px) {
  .about {
    padding: 40px 15px;
  }

  .about h2 {
    font-size: 2em;
    margin-bottom: 30px;
  }

  .about-text {
    max-width: 100%;
    padding: 0 10px;
  }

  .about-text p {
    font-size: 1em;
    line-height: 1.7;
  }
}