.blog {
  padding: 80px 20px 20px 20px;
  background-color: #1e1e1e; /* Dark section background */
}

.blog h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5em;
  color: #ffffff;
}

.blog-posts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px; /* Space between cards */
}

.blog-card {
  background: #333333; /* Dark card background */
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
  max-width: 500px; /* Adjust max-width as needed */
  flex-basis: 100%;
}

.blog-card:hover {
  transform: translateY(-10px);
}

.blog-card h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #ffffff;
}

.blog-date {
  color: #d5caca; /* Light grey date color */
  font-size: 0.9em;
  margin-bottom: 15px;
}

.blog-content {
  padding: 0; /* Remove the large padding */
  font-size: 1em;
  line-height: 1.6;
  color: #d5caca; /* Light grey text color */
}

.blog-content p {
  margin-bottom: 1em;
}